:root {
  --font-fluid-base: 16px;
  --font-fluid-ratio: 1.1;

  --color-blue-300: oklch(0.849609 0.078125 240);
  --color-blue-700: oklch(0.517578 0.115625 240);
  --color-red-300: oklch(0.861328 0.078125 20);
  --color-red-700: oklch(0.535156 0.115625 20);
  --color-sand-100: oklch(0.964844 0.012 75);
  --color-sand-900: oklch(0.302734 0.012 75);
}

@media (prefers-color-scheme: light) {
  :root {
    --background-color: var(--color-sand-100);
    --text-color: var(--color-sand-900);
  }

  .follow {
    --follow-decoration-color: var(--color-red-300);
  }

  .follow:focus-visible {
    --follow-decoration-color: var(--color-red-700);
  }

  a.follow {
    --follow-decoration-color: var(--color-blue-300);

    color: var(--color-blue-700);
  }

  a.follow:focus-visible {
    --follow-decoration-color: var(--color-blue-700);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: var(--color-sand-900);
    --text-color: var(--color-sand-100);
  }

  .follow {
    --follow-decoration-color: var(--color-red-700);
  }

  .follow:focus-visible {
    --follow-decoration-color: var(--color-red-300);
  }

  a.follow {
    --follow-decoration-color: var(--color-blue-700);

    color: var(--color-blue-300);
  }

  a.follow:focus-visible {
    --follow-decoration-color: var(--color-blue-300);
  }
}

@media (prefers-reduced-motion: reduce) {
  .prefers-reduced-motion-no-preference-only {
    display: none;
  }
}

html {
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
  font-size: calc(var(--font-fluid-base) + var(--font-fluid-ratio) * 1vw);
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  margin: 0.5rem;
}

main {
  margin: 15vh auto;
  max-width: 40rem;
}

p {
  line-height: 1.7rem;
}

a {
  color: var(--text-color);
  text-decoration: none;
}

.follow {
  --follow-decoration-offset: 0.25em;
  --follow-decoration-height: 0.1em;

  background-image: linear-gradient(90deg, var(--follow-decoration-color) 100%, transparent 0%);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: 100% var(--follow-decoration-height);
  border-radius: 0.3em;
  cursor: pointer;
  margin: 0 calc(var(--follow-decoration-offset) * -1);
  outline: none;
  padding: 0 var(--follow-decoration-offset);
  transition-duration: 0.2s;
  transition-property: background-size, color;
}

.follow:hover,
.follow:focus-visible {
  --follow-decoration-height: 100%;
}

.follow:focus-visible {
  color: var(--background-color);
}

.js collapse-handle[disabled].follow,
.js effects-player:not([stopped]).follow,
.no-js collapse-handle.follow {
  background-image: unset;
  cursor: unset;
}

.js collapse-entry[opened]:not([once]) > *:not(collapse-content),
.no-js collapse-entry:not([once]) > *:not(collapse-content) {
  display: none;
}

.no-js collapse-content,
.no-js span[hidden] {
  display: inline;
}

.no-js p[hidden] {
  display: block;
}

.js .no-js-only,
.no-js .js-only {
  display: none;
}
